*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
}

.home{
    display:flex;
    flex-direction: column;
    margin: auto;
    width:90vw;
    min-height: 100vh;
    height: 100%;
    margin-left: 130px;
}

.noteIcon{
    width:27px;
    height:27px;
    color:rgb(255, 255, 255);
    cursor: pointer;
    border: none;
}
.deleteIcon{
    width:25px;
    height:25px;
    margin-right:10px;
    color:rgb(255, 255, 255);
    cursor: pointer;
    border: none;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #222222;
}
::-webkit-scrollbar-thumb {
	background-color: #6b6b6b;
	border-radius:15px
}
::-webkit-scrollbar-thumb:hover {
	background-color: #7d7d7d;
}


/* NOTE */

.note{
    width:420px;
    height:200px;
    margin: 10px 0;
    margin-right: 20px;
    padding:20px;
    background-color:#2964FF;
    overflow: hidden;
    text-overflow: ellipsis;
}
.note::after{
    content: '';
    position: absolute;
    margin-left:400px;
    margin-top: -36px;
    width: 0;
    height: 0;
    border-right: 40px solid;
    border-top: 45px solid rgb(231, 231, 231, 0.5);
    clear: both;    
}

.note hr{
    margin-bottom:10px;
    width:50px;
}

.note p{
    font-size:18px;
    height:160px;
    max-width: 380px;
    color: rgb(238, 238, 238);
    overflow: hidden;
}

.title{
    display: flex;
    justify-content:space-between;
}

.title h3{
    max-width: 300px;
    margin-left: 0;
    margin-bottom: -8px;
}


/* CONTENT */

.content{
    margin-top:50px;
    display:flex;
    flex-wrap: wrap;
}